# Workflow template for building .NET projects with PCF controls
name: Build Template

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '24'
        description: 'Node.js version to use'
      run-tests:
        required: false
        type: boolean
        default: true
        description: 'Whether to run tests'
      build-powerplatform-solution:
        required: false
        type: boolean
        default: false
        description: 'Build Power Platform solution'

jobs:
  build:
    runs-on: windows-latest

    env:
      VS_SOLUTION_PATH: src\server\Pg.DataverseSync\Pg.DataverseSync.sln
      TEST_ASSEMBLY_PATH: src\server\Pg.DataverseSync\**\bin\Release\*.Tests.dll
      PCF_CONTROL_FOLDER: src\client\Pg.DataverseSync.Controls
      VSTEST_CONSOLE: C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe
      SOLUTION_NAME: DataverseSync
      SOLUTION_FOLDER: solutions

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
  
      - name: Install npm dependencies (PCF)
        run: |
          cd ${{ env.PCF_CONTROL_FOLDER }}\TableSelector
          npm install

      - name: Build npm project (PCF)
        run: |
          cd ${{ env.PCF_CONTROL_FOLDER }}\TableSelector
          npm run build

      - name: Copy PCF build output to solution folder
        if: ${{ inputs.build-powerplatform-solution }}
        run: |
          $sourceDir = "${{ env.PCF_CONTROL_FOLDER }}\TableSelector\out\controls\TableSelector"
          $destDir = "${{ env.SOLUTION_FOLDER }}\${{ env.SOLUTION_NAME }}_managed\Controls\pg_Pg.DataverseSync.Controls.TableSelector"
          
          # Copy ControlManifest.xml and bundle.js
          Copy-Item "$sourceDir\ControlManifest.xml" "$destDir\ControlManifest.xml" -Force
          Copy-Item "$sourceDir\bundle.js" "$destDir\bundle.js" -Force
          
      - name: Restore NuGet packages
        run: nuget restore ${{ env.VS_SOLUTION_PATH }}

      - name: Build solution
        run: msbuild ${{ env.VS_SOLUTION_PATH }} /p:Configuration=Release /p:Platform="Any CPU"

      - name: Run xUnit tests with Visual Studio 2022 Test Runner
        if: ${{ inputs.run-tests }}
        run: |
          $testAssemblies = Get-ChildItem -Path "${{ env.TEST_ASSEMBLY_PATH }}" -Recurse
          foreach ($assembly in $testAssemblies) {
            & "${{ env.VSTEST_CONSOLE }}" $assembly.FullName /Logger:trx
          }

      - name: Publish Test Results
        if: ${{ inputs.run-tests && always() }}
        uses: dorny/test-reporter@v1
        with:
          name: xUnit Test Results
          path: "**/*.trx"
          reporter: dotnet-trx

      - name: Setup Power Platform CLI
        if: ${{ inputs.build-powerplatform-solution }}
        uses: microsoft/powerplatform-actions/actions-install@v1
        with:
          add-tools-to-path: true

      - name: Pack managed solution  
        if: ${{ inputs.build-powerplatform-solution }}
        uses: microsoft/powerplatform-actions/pack-solution@v1
        with:
          solution-file: ${{ env.SOLUTION_NAME }}_managed.zip
          solution-folder: ${{ env.SOLUTION_FOLDER }}/${{ env.SOLUTION_NAME }}_managed
          solution-type: 'Managed'
          map-file: config/solution-mappings.xml

      - name: Upload solution artifact
        if: ${{ inputs.build-powerplatform-solution }}
        uses: actions/upload-artifact@v4
        with:
          name: DataverseSync
          path: ${{ env.SOLUTION_NAME }}_managed.zip
          retention-days: 14